<table style="width: 100%; border: none; ">
    <tr>
        <td colspan="2" style="justify-content: center; align-items: center; width: 33%;">
            <div style="align-items: center; text-align: center; ">
                <img src="assets/demo/images/logos/nitrofert.png" width="300px" alt="">
            </div>
        </td>
        <td colspan="2" style="width: 33%; text-align: center; align-items: cener;">
            <div style="padding-top: 10px;">
                <h1>ORDEN DE CARGUE</h1>
            </div>
            
        </td>
        <td colspan="2" style="justify-content: center; align-items: center;width: 34%;">
            <table style="width: 100%;">
                <tr>
                    <td><strong>Código:</strong></td>
                    <td>FOR-COM-002</td>
                </tr>
                <tr>
                    <td><strong>Versión:</strong></td>
                    <td>1.0</td>
                </tr>
                <tr>
                    <td><strong>Fecha aprobación:</strong></td>
                    <td>06-02-2023</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

