
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<app-breadcrumb></app-breadcrumb>
<div class="grid">
	<div class="col-12">
		<div class="card">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 mt-3">
                    <span class="p-float-label">
                        <p-skeleton *ngIf="almacenes.length==0 " height="2rem" styleClass="mb-2"></p-skeleton>
                        <p-autoComplete id="almacen"
                                        *ngIf="almacenes.length>0 " 
                                        [(ngModel)]="localidadSeleccionada" 
                                        [suggestions]="localidadesFiltradas" 
                                        (completeMethod)="filtrarLocalidad($event)" 
                                        field="label" 
                                        [dropdown]="true"
                                        
                                        (onSelect)="seleccionarLocalidad(localidadSeleccionada)">
                        </p-autoComplete>
                        <label for="cliente"><h6>Seleccione una localidad</h6></label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<full-calendar *ngIf="showCalendar" [options]="calendarOptions">
    <ng-template #eventContent let-arg>

        <div>
            {{ (arg.event.title | objecrString:'cliente') | tooltips:20 }} 
        </div>
        <div>
            Placa: {{ arg.event.title | objecrString:'placa'   }}
        </div>
        <!--<div>
            Placa: {{ arg.event.title | objecrString:'estado'   }}
        </div>-->
        
        
      </ng-template>
</full-calendar>
<!-- Dialog loading -->
<p-dialog header="Cargando" 
          [(visible)]="displayModal" 
          [modal]="true" 
          [style]="{width: '50vw'}" 
          [draggable]="false" 
          [resizable]="false"
          (onHide)="getCalendar();showCalendar = true">
    <p class="m-0">

    </p>

    <div *ngIf="loadingCargue" class="field col flex justify-content-center align-items-center">
                    
        <!--<p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>-->
        <!--<p-progressSpinner></p-progressSpinner>-->
        <img src="assets/layout/images/Rhombus.gif" alt="">
    </div>
    <div *ngIf="completeCargue" class="field col flex justify-content-center align-items-center animation-duration-1000 animation-ease-out">
        <div class="text-center">
            <span>{{ messageComplete }}</span>
            <span>Esta ventana se cerrara automaticamente en unos segundos, si esto no ocurre puede cerrarla manualmente.</span>
        </div>
    </div>

</p-dialog>
<!--Fin Dialog loading-->