<app-breadcrumb></app-breadcrumb>
<p-toast></p-toast>
<div class="grid">
	<div class="col-12">
		<div class="card">
            <div class="p-fluid p-formgrid grid">
                
                <div class="field col-12  mt-3">
                    <span class="p-float-label">
                        <input pInputText 
                               id="nombrecompleto" 
                               type="text"
                               [(ngModel)]="nombrecompleto" 
                               [ngClass]="{'ng-invalid ng-dirty' : envioLineaUsuario && nombrecompleto==''}"/>
                        <label for="nombrecompleto"><h6>Nombre completo</h6></label>
                    </span>
                </div>
                <div class="field col-12 md:col-6 ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="email" 
                               type="email" 
                                
                               [(ngModel)]="email"
                               [ngClass]="{'ng-invalid ng-dirty' : envioLineaUsuario && email==''}" />
                        <label for="email"><h6>Email</h6></label>
                    </span>
                </div>

                <div class="field col-12 md:col-6 ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="numerotelefonico" 
                               type="text" 
                                
                               [(ngModel)]="numerotelefonico"
                               [ngClass]="{'ng-invalid ng-dirty' : envioLineaUsuario && numerotelefonico==''}" />
                        <label for="numerotelefonico"><h6>Número télefono</h6></label>
                    </span>
                </div>

                <div class="field col-12 ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="cargo_responsable" 
                               type="text" 
                                
                               [(ngModel)]="cargo_responsable"
                               [ngClass]="{'ng-invalid ng-dirty' : envioLineaUsuario && cargo_responsable==''}" />
                        <label for="numerotelefonico"><h6>Cargo</h6></label>
                    </span>
                </div>


                <div *ngIf="verCamposClientes" class="field col-12 md:col-4 ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="nombre_responsable" 
                               type="text" 
                               
                               [(ngModel)]="nombre_responsable"
                               [ngClass]="{'ng-invalid ng-dirty' : envioLineaUsuario && nombre_responsable==''}" />
                        <label for="numerotelefonico"><h6>Nombre persona responsable</h6></label>
                    </span>
                </div>

                <div *ngIf="verCamposClientes" class="field col-12 md:col-4 ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="telefono_responsable" 
                               type="text" 
                               [(ngModel)]="telefono_responsable"
                               [ngClass]="{'ng-invalid ng-dirty' : envioLineaUsuario && telefono_responsable==''}" />
                        <label for="numerotelefonico"><h6>Teléfono persona responsable</h6></label>
                    </span>
                </div>

                <div *ngIf="verCamposClientes" class="field col-12 md:col-4 ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="email_responsable" 
                               type="text" 
                               [(ngModel)]="email_responsable"
                               [ngClass]="{'ng-invalid ng-dirty' : envioLineaUsuario && email_responsable==''}" />
                        <label for="numerotelefonico"><h6>Email persona responsable</h6></label>
                    </span>
                </div>

                <div class="field col-12 ">
                    <label for="tipoanexo"><h6>Firma - archivo de tipo imagen</h6></label>
                    <p-fileUpload #uploaderFile   name="demo[]" 
                    chooseLabel="Seleccionar"
                    cancelLabel="Cancelar"
                    accept="image/*"
                    [multiple]="false" 
                    (onSelect)="loadFile(uploaderFile.files)"
                    (onRemove)="removeFile($event, uploaderFile)"
                    (onClear)="clearUploader(uploaderFile)"
                    [showUploadButton]="false"
                    [maxFileSize]="50000000"
                    styleClass="w-full"
                    class="w-full"
                    [ngClass]="{'ng-invalid ng-dirty' :  (envioLineaUsuario && !filesToUpload ) || (envioLineaUsuario && filesToUpload.length==0)}">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFile.length">
                                <li *ngFor="let file of uploadedFile">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>

                <div class="field col-12   ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="username" 
                               type="text" 
                               [(ngModel)]="username"
                               [disabled]="true"
                               [ngClass]="{'ng-invalid ng-dirty' : envioLineaUsuario && username==''}" />
                        <label for="username"><h6>Nombre de usuario</h6></label>
                    </span>
                </div>

                <div class="field col-12 md:col-6 ">
                    <span class="p-float-label">
                        <p-password [(ngModel)]="password" 
                                    [toggleMask]="true"
                                    [ngClass]="{'ng-invalid ng-dirty' : (envioLineaUsuario && password!=password2) }">
                        </p-password>
                        <!--<input pInputText 
                               id="password" 
                               type="password" 
                                
                               [(ngModel)]="password" 
                               [ngClass]="{'ng-invalid ng-dirty' : (envioLineaUsuario && password=='' && config.data.id==0) || (password!=password2) }"/>-->
                        <label for="password"><h6>Contraseña</h6></label>
                    </span>
                </div>

                <div class="field col-12 md:col-6 ">
                    <span class="p-float-label">
                        <p-password [(ngModel)]="password2" 
                                    [toggleMask]="true"
                                    [ngClass]="{'ng-invalid ng-dirty' : (envioLineaUsuario && password!=password2) }">
                        </p-password>
                        <!--<input pInputText 
                               id="password2" 
                               type="password" 
                                
                               [(ngModel)]="password2"
                               [ngClass]="{'ng-invalid ng-dirty' : (envioLineaUsuario && password2=='' && config.data.id==0) || (password!=password2) }" />-->
                        <label for="password2"><h6>Reingresar Contraseña</h6></label>
                    </span>
                </div>
                
                

              

                
                

                
            </div>
        </div>
    </div>
</div>
<div class="grid">
	<div class="col-12">
        <div class="flex justify-content-end">
            <button type="button" (click)="editar()" pButton icon="pi pi-save" label="Grabar cambios" ></button>
            
        </div>
    </div>
</div>

