
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<app-breadcrumb></app-breadcrumb>

<!-- Form nueva solicitud-->
<div class="grid">
	<div class="col-12">
		<div class="card">
            <p-accordion [multiple]="true">
                <p-accordionTab [header]="!clienteSeleccionado.label?'Información del cliente: ':'Información del cliente: '+clienteSeleccionado.label" [(selected)]="activeStateTabs[0]">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 mt-3">
                            <span class="p-float-label">
                                <p-autoComplete id="cliente" 
                                                [(ngModel)]="clienteSeleccionado" 
                                                [suggestions]="clientesFiltrados" 
                                                (completeMethod)="filtrarCliente($event)" 
                                                field="label" 
                                                [dropdown]="true"
                                                [multiple]="multiplesClientes"
                                                (onSelect)="seleccionarCliente(clienteSeleccionado)"
                                                (onUnselect)="seleccionarCliente(clienteSeleccionado)">
                                </p-autoComplete>
                                <label for="cliente"><h6>Seleccione un cliente</h6></label>
                            </span>
                        </div>
                        <!--
                        <div class="field col-12 md:col-3">
                            <span class="p-float-label">
                                <input pInputText id="nit" type="text" disabled [value]="!clienteSeleccionado.code?'':clienteSeleccionado.code" />
                                <label for="nit"><h6>NIT</h6></label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3">
                            <span class="p-float-label">
                                <input pInputText id="nit" type="text" disabled [value]="!clienteSeleccionado.code?'':clienteSeleccionado.code" />
                                <label for="nit"><h6>Nombre funcionario</h6></label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3">
                            <span class="p-float-label">
                                <input pInputText id="nit" type="text" disabled [value]="!clienteSeleccionado.code?'':clienteSeleccionado.code" />
                                <label for="nit"><h6>Télefono</h6></label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3">
                            <span class="p-float-label">
                                <input pInputText id="nit" type="text" disabled [value]="!clienteSeleccionado.code?'':clienteSeleccionado.code" />
                                <label for="nit"><h6>Email</h6></label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input pInputText id="nit" type="text" disabled [value]="!clienteSeleccionado.code?'':clienteSeleccionado.code" />
                                <label for="nit"><h6>Jefe de zona</h6></label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input pInputText id="nit" type="text" disabled [value]="!clienteSeleccionado.code?'':clienteSeleccionado.code" />
                                <label for="nit"><h6>Télefono</h6></label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input pInputText id="nit" type="text" disabled [value]="!clienteSeleccionado.code?'':clienteSeleccionado.code" />
                                <label for="nit"><h6>Email</h6></label>
                            </span>
                        </div>-->
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Información del cargue:" [(selected)]="activeStateTabs[1]">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 mt-3">
                            <span class="p-float-label">
                                <p-autoComplete id="almacen" 
                                                [(ngModel)]="almacenSeleccionado" 
                                                [suggestions]="almacenesFiltrados" 
                                                (completeMethod)="filtrarAlmacen($event)" 
                                                field="label" 
                                                [dropdown]="true"
                                                [disabled]="almacenSeleccionado.code && vehiculosEnSolicitud.length>0"
                                                (onSelect)="seleccionarAlmacen(almacenSeleccionado)"
                                                (ngModelChange)="cambioAlmacen()">
                                </p-autoComplete>
                                <label for="cliente"><h6>Seleccione una loacación para retirar</h6></label>
                            </span>
                        </div>
                        <div class="field col-12">
                            <!--<app-dynamic-table [dataTable]="tablaPedidosEnSolicitud.data" 
                                                [headersTable]="tablaPedidosEnSolicitud.header"
                                                dataKey="index" 
                                                [rows]="10" 
                                                [paginator]="true"
                                                [selectionMode]="'single'"
                                                [viewCheckselectedItem] ="true"                   
                                                nameExport="pedidos_almacen_cliente"
                                                toolTipShowBtnNew="Adicionar pedido/s"
                                                [permisosUsuarioPagina]="permisosUsuarioPagina"
                                                [showBtnNew]="true"
                                                (onNewAccion)="adicionarPedido($event)">
                            </app-dynamic-table>-->

                            <p-treeTable [value]="vehiculosPedidos" 
                                 [columns]="cols" 
                                 selectionMode="checkbox" 
                                 [(selection)]="vehiculosSeleccionados">
                        <ng-template pTemplate="caption">
                            <div class="flex justify-content-between flex-column sm:flex-row">
                                <div>
                                    <button pButton
                                            pTooltip="Adicionar vehículo" tooltipPosition="bottom" placeholder="Bottom"  
                                            class="p-button-outlined mb-2 mr-2 p-button-success p-button-sm" 
                                            icon="pi pi-plus"
                                            (click)="adicionarVehiculo()">
                                    </button>
                                    
                                </div>
                                <div>
                                    <button pButton
                                            pTooltip="Grabar soliitud" tooltipPosition="bottom" placeholder="Bottom"  
                                            class="p-button-outlined mb-2 mr-2 p-button-primary p-button-sm" 
                                            icon="pi pi-save"
                                            [disabled]="this.vehiculosEnSolicitud.length ==0"
                                            (click)="grabarSolicitud()">
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" style="width: 6rem">
                                    {{col.header}}
                                </th>
                                <th style="width: 1rem">

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns; let i = index" style="width: 6rem">
                                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                                    <!--<p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0"></p-treeTableCheckbox>-->
                                    <div >
                                        {{rowData[col.field]}}  
                                    </div>
                                   
                                </td>
                                
                                <td>
                                    <div>
                                        
                                       <button *ngIf="rowNode.parent==null" pButton
                                            [pTooltip]="'Adicionar item pedido a vehículo '+rowData[columns[0].field]" tooltipPosition="bottom" placeholder="Bottom"  
                                            class="p-button-outlined mb-2 mr-2 p-button-success p-button-sm" 
                                            icon="pi pi-list"
                                            
                                            (click)="adicionarItemPedido(rowData[columns[0].field])">
                                        </button>
                                        <button *ngIf="rowNode.parent==null" pButton
                                            [pTooltip]="'Quitar vehículo '+rowData[columns[0].field]" tooltipPosition="bottom" placeholder="Bottom"  
                                            class="p-button-outlined mb-2 mr-2 p-button-danger p-button-sm" 
                                            icon="pi pi-trash"
                                            
                                            (click)="quitarVehiculo(rowData[columns[0].field])">
                                        </button>
                                        <button *ngIf="rowNode.parent!=null" pButton
                                            [pTooltip]="'Quitar pedido-item: '+rowData[columns[1].field]+' '+rowData[columns[2].field]" tooltipPosition="bottom" placeholder="Bottom"  
                                            class="p-button-outlined mb-2 mr-2 p-button-danger p-button-sm" 
                                            icon="pi pi-trash"
                                            
                                            (click)="quitarRegistro(rowData[columns[0].field],rowData[columns[1].field],rowData[columns[2].field])">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-treeTable>  
                        </div>
                    </div>
                </p-accordionTab>

            </p-accordion>
        </div>
    </div>
</div>
<!-- Fin Form nueva solicitud -->

<!-- Dialog pedidos cliente-->
<p-dialog [header]="'Pedidos cliente en locación'"
          [(visible)]="dialogPedidosCliente" 
          [modal]="true" 
          [style]="{width: '50vw'}"
          [maximizable]="true" 
          [draggable]="false" 
          [resizable]="false">

          <div class="grid">
            <div class="col-12">
                <div class="card">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12">
                            <span class="p-float-label">
                                <p-autoComplete id="vhiculo" 
                                                [(ngModel)]="vehiculoSeleccionado" 
                                                [suggestions]="vehiculosFiltrados" 
                                                (completeMethod)="filtrarVehiculo($event)" 
                                                field="label" 
                                                [dropdown]="true"
                                                [disabled]="true"
                                                (onSelect)="seleccionarVehiculo(vehiculoSeleccionado)"
                                                [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && vehiculoSeleccionado.length==0}">
                                </p-autoComplete>
                                <label for="vhiculo"><h6>Vehículo</h6></label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4 ">
                            <span class="p-float-label">
                                <input pInputText id="clase" type="text" disabled [value]="!vehiculoSeleccionado.clase?'':vehiculoSeleccionado.clase.tipo" [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && vehiculoSeleccionado.length==0}" />
                                <label for="clase"><h6>Clase vehículo</h6></label>
                            </span>
                        </div>
                        
                        <div class="field col-12 md:col-4  ">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    TON
                                </span>
                                <span class="p-float-label">
                                    <input type="number" 
                                           inputId="capacidadvh" 
                                           disabled 
                                           pInputText 
                                           [(ngModel)]="capacidadVehiculo" 
                                           [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && vehiculoSeleccionado.length==0}"> 
                                    <label for="capacidadvh"><h6>Capacidad vehículo</h6></label>
                                </span>
                            </div>
                        </div>

                        <div class="field col-12 md:col-4 ">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    TON
                                </span>
                                <span class="p-float-label">
                                    <input type="number" 
                                           inputId="cpadisponiblevh" 
                                           disabled 
                                           pInputText 
                                           [(ngModel)]="capacidadDisponibleVehiculo" 
                                           [ngClass]="{'ng-invalid ng-dirty' : (envioLineaCarguePedido && vehiculoSeleccionado.length==0) || (envioLineaCarguePedido && cantidadCargue>capacidadDisponibleVehiculo)}"> 
                                    <label for="cpadisponiblevh"><h6>Capacidad disponible</h6></label>
                                </span>
                            </div>
                        </div>

                        <div class="field col-12 mt-3">
                            <span class="p-float-label">
                                <p-autoComplete id="cliente" 
                                                [(ngModel)]="clienteSeleccionado2" 
                                                [suggestions]="clientesFiltrados2" 
                                                (completeMethod)="filtrarCliente2($event)" 
                                                field="label" 
                                                [dropdown]="true"
                                                [multiple]="false"
                                                (onSelect)="seleccionarCliente2(clienteSeleccionado2)">
                                </p-autoComplete>
                                <label for="cliente"><h6>Seleccione un cliente</h6></label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          
          <app-dynamic-table [dataTable]="tablaPedidosAlmacenCliente.data" 
                             [headersTable]="tablaPedidosAlmacenCliente.header"
                             dataKey="index" 
                             [rows]="10" 
                             [paginator]="true"
                             [selectionMode]="'multiple'"
                             [viewCheckselectedItem] ="true"
                             nameExport="pedidos_almacen_cliente"
                             [showSelectedItems]="showItemsSelectedPedidosAlmacenCliente"
                             [permisosUsuarioPagina]="permisosUsuarioPagina"
                             [showBtnNew]="false"
                             (onSelectedItems)="seleccionarPedidosAlmacenCliente($event)">
          </app-dynamic-table>

          <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="confirmarSeleccionPedidosAlmacenCliente()" label="Seleccionar pedido/s" styleClass="p-button-text"></p-button>
        </ng-template>

</p-dialog>
<!-- Fin Dialog pedidos cliente-->

<!-- Dialog form cargue vehiculos - pedidos -->
<p-dialog [header]="'Detalle cita para cargue'"
          [(visible)]="dialogCargueVehiculoPedido" 
          [modal]="true" 
          [style]="{width: '50vw'}"
          [maximizable]="true" 
          [draggable]="false" 
          [resizable]="false">
          
          <div class="grid">
            <div class="col-12">
                <div class="card">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6  mt-3">
                            <span class="p-float-label">
                                <p-calendar inputId="fechacargue" [showIcon]="true" [(ngModel)]="fechacargue" [minDate]="hoy"></p-calendar>
                                <label for="fechacargue"><h6>Fecha estimada del cargue</h6></label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-6  mt-3">
                            <span class="p-float-label">
                                <p-calendar [(ngModel)]="horacargue"  [timeOnly]="true" [hourFormat]="'12'" inputId="timeonly"></p-calendar>
                                <label for="horacargue"><h6>Hora estimada del cargue</h6></label>
                            </span>
                            
                        </div>
                        <div class="field col-12">
                            <span class="p-float-label">
                                <p-autoComplete id="transportadora" 
                                                [(ngModel)]="transportadoraSeleccionada" 
                                                [suggestions]="transportadorasFiltrados" 
                                                (completeMethod)="filtrarTransportadora($event)" 
                                                field="label" 
                                                [dropdown]="true"
                                                (onSelect)="seleccionarTransportadora(transportadoraSeleccionada)"
                                                [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && transportadoraSeleccionada.length==0}">

                                                <ng-template let-value pTemplate="selectedItem">
                                                    <span style="font-size:18px">{{value}}</span>
                                                </ng-template>

                                               
                                </p-autoComplete>
                                <label for="vhiculo"><h6>Seleccione una tranportadora</h6></label>
                            </span>
                        </div>
                        <div class="field col-12">
                            <span class="p-float-label">
                                <p-autoComplete id="vhiculo" 
                                                [(ngModel)]="vehiculoSeleccionado" 
                                                [suggestions]="vehiculosFiltrados" 
                                                (completeMethod)="filtrarVehiculo($event)" 
                                                field="label" 
                                                [dropdown]="true"
                                                (onSelect)="seleccionarVehiculo(vehiculoSeleccionado)"
                                                [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && vehiculoSeleccionado.length==0}">

                                                <ng-template let-value pTemplate="selectedItem">
                                                    <span style="font-size:18px">{{value}}</span>
                                                </ng-template>

                                               
                                </p-autoComplete>
                                <label for="vhiculo"><h6>Seleccione un vehículo</h6></label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4 ">
                            <span class="p-float-label">
                                <input pInputText id="clase" type="text" disabled [value]="!vehiculoSeleccionado.clase?'':vehiculoSeleccionado.clase.tipo" [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && vehiculoSeleccionado.length==0}" />
                                <label for="clase"><h6>Clase vehículo</h6></label>
                            </span>
                        </div>
                        
                        <div class="field col-12 md:col-4  ">
                            <div class="p-inputgroup">
                                
                                <span class="p-float-label">
                                    <input type="number" 
                                           inputId="capacidadvh" 
                                           disabled 
                                           pInputText 
                                           [(ngModel)]="capacidadVehiculo" 
                                           [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && vehiculoSeleccionado.length==0}"> 
                                    <label for="capacidadvh"><h6>Capacidad vehículo</h6></label>
                                </span>
                                <span class="p-inputgroup-addon">
                                    TON
                                </span>
                            </div>
                        </div>

                        <div class="field col-12 md:col-4 ">
                            <div class="p-inputgroup">
                                
                                <span class="p-float-label">
                                    <input type="number" 
                                           inputId="cpadisponiblevh" 
                                           disabled 
                                           pInputText 
                                           [(ngModel)]="capacidadDisponibleVehiculo" 
                                           [ngClass]="{'ng-invalid ng-dirty' : (envioLineaCarguePedido && vehiculoSeleccionado.length==0) || (envioLineaCarguePedido && cantidadCargue>capacidadDisponibleVehiculo)}"> 
                                    <label for="cpadisponiblevh"><h6>Capacidad disponible</h6></label>
                                </span>
                                <span class="p-inputgroup-addon">
                                    TON
                                </span>
                            </div>
                        </div>

                        <div class="field col-12">
                            <span class="p-float-label">
                                <p-autoComplete id="conductor" 
                                                [(ngModel)]="conductorSeleccionado" 
                                                [suggestions]="conductoresFiltrados" 
                                                (completeMethod)="filtrarConductor($event)" 
                                                field="label" 
                                                [dropdown]="true"
                                                (onSelect)="seleccionarConductor(conductorSeleccionado)"
                                                [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && conductorSeleccionado.length==0}">
                                </p-autoComplete>
                                <label for="conductor"><h6>Seleccione un conductor</h6></label>
                            </span>
                        </div>
                        
                        <div class="field col-12 md:col-4 ">
                            <span class="p-float-label">
                                <input pInputText 
                                       id="numerotelefonico" 
                                       type="text" 
                                       disabled 
                                       [value]="!conductorSeleccionado.numerotelefono?'':conductorSeleccionado.numerotelefono" />
                                <label for="numerotelefonico"><h6>Número télefono</h6></label>
                            </span>
                        </div>
                        
                        <div class="field col-12 md:col-4  ">
                                <span class="p-float-label">
                                    <input type="text" 
                                           inputId="numerocelular" 
                                           disabled 
                                           pInputText 
                                           [value]="!conductorSeleccionado.numerocelular?'':conductorSeleccionado.numerocelular"> 
                                    <label for="numerocelular"><h6>Número celular</h6></label>
                                </span>
                        </div>

                        <div class="field col-12 md:col-4 ">
                                <span class="p-float-label">
                                    <input type="email" 
                                           inputId="email" 
                                           disabled 
                                           pInputText 
                                           [value]="!conductorSeleccionado.email?'':conductorSeleccionado.email"> 
                                    <label for="email"><h6>Email</h6></label>
                                </span>
                        </div>

                        <div class="field col-12 ">
                            <span class="p-float-label">
                                <input type="text" 
                                       inputId="sitioentrega" 
                                       [(ngModel)]="sitioentrega" 
                                       pInputText 
                                       
                                       [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && sitioentrega==''}"> 
                                <label for="email"><h6>Sitio de entrega</h6></label>
                            </span>
                        </div>

                        <div class="field col-12 ">
                            <span class="p-float-label">
                                <input type="text" 
                                       inputId="municipioentrega" 
                                       [(ngModel)]="municipioentrega" 
                                       pInputText 
                                       
                                       [ngClass]="{'ng-invalid ng-dirty' : envioLineaCarguePedido && municipioentrega==''}"> 
                                <label for="email"><h6>Municipio de entrega</h6></label>
                            </span>
                        </div>

                        <div class="field col-12 ">
                            <span class="p-float-label">
                                <input type="text" 
                                       inputId="observacion" 
                                       [(ngModel)]="observacion" 
                                       pInputText> 
                                <label for="email"><h6>Observación</h6></label>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
          </div>

          <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="adicionVehiculoSolicitud()" label="Adicionar  cita vehículo" styleClass="p-button-text"></p-button>
        </ng-template>

</p-dialog>
<!-- Fin Dialog form cargue vehiculos - pedidos-->

<!-- Dialog loading -->
<p-dialog header="Cargando" 
          [(visible)]="displayModal" 
          [modal]="true" 
          [style]="{width: '50vw'}" 
          [draggable]="false" 
          [resizable]="false"
          (onHide)="goToSolicitudes()">
    <p class="m-0">

    </p>

    <div *ngIf="loadingCargue" class="field col flex justify-content-center align-items-center">
                    
        <!--<p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>-->
        <!--<p-progressSpinner></p-progressSpinner>-->
        <img src="assets/layout/images/Rhombus.gif" alt="">
    </div>
    <div *ngIf="completeCargue" class="field col flex justify-content-center align-items-center animation-duration-1000 animation-ease-out">
        <div class="text-center">
            <span>{{ messageComplete }}</span>
            <span>Esta ventana se cerrara automaticamente en unos segundos, si esto no ocurre puede cerrarla manualmente.</span>
        </div>
    </div>

</p-dialog>
<!--Fin Dialog loading-->
