<app-breadcrumb></app-breadcrumb>
<div class="grid">
	<div class="col-12">
		<div class="card">
            <app-dynamic-table [dataTable]="dataTable" 
                               [headersTable]="headersTable"
                               dataKey="id" 
                               [rows]="10" 
                               [paginator]="true"
                               [selectionMode]="'single'"
                               [showBtnNew]="true"
                               nameExport="solicitude_de_cargue"
                               [permisosUsuarioPagina]="permisosUsuarioPagina"
                               (onNewAccion)="nuevaSolicitud($event)">
            </app-dynamic-table>
        </div>
    </div>
</div>