<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<div class="grid">
	<div class="col-12">
		<div class="card">
            <div class="p-fluid p-formgrid grid">

                <div *ngIf="!editCliente" class="field col-12 mt-3">
                    <span class="p-float-label">
                        <p-skeleton *ngIf="clientesSAP.length==0" height="2rem" styleClass="mb-2"></p-skeleton>
                        <p-autoComplete id="almacen"
                                        *ngIf="clientesSAP.length>0" 
                                        [(ngModel)]="clienteSeleccionado" 
                                        [suggestions]="clientessFiltrados" 
                                        (completeMethod)="filtrarCliente($event)" 
                                        field="label"
                                        [disabled]="editCliente" 
                                        [dropdown]="true"
                                        [ngClass]="{'ng-invalid ng-dirty' : (!clienteSeleccionado || clienteSeleccionado.length == 0) && submitCliente }"
                                        (onSelect)="seleccionarCliente(clienteSeleccionado)">
                        </p-autoComplete>
                        <label *ngIf="clientesSAP.length==0" for="cliente"><h6>Cargando clientes ...</h6></label>
                        <label *ngIf="clientesSAP.length>0 "for="cliente"><h6>Seleccione un cliente para registrar</h6></label>
                    </span>
                </div>

                <div  class="field col-12  md:col-6  ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="CardCode" 
                               type="text" 
                               disabled="true"
                               [(ngModel)]="CardCode"/>
                        <label for="email"><h6>Código SN</h6></label>
                    </span>
                </div>

                <div  class="field col-12  md:col-6  ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="CardName" 
                               type="text" 
                               disabled="true"
                               [(ngModel)]="CardName"/>
                        <label for="email"><h6>Nombre</h6></label>
                    </span>
                </div>

                <div  class="field col-12  md:col-6  ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="FederalTaxID" 
                               type="text" 
                               disabled="true"
                               [(ngModel)]="FederalTaxID"/>
                        <label for="email"><h6>NIT</h6></label>
                    </span>
                </div>

                <div  class="field col-12  md:col-6  ">
                    <span class="p-float-label">
                        <input pInputText 
                               id="EmailAddress" 
                               type="text" 
                              
                               [(ngModel)]="EmailAddress"/>
                        <label for="email"><h6>Correo electrónico</h6></label>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
    
<div class="grid">
    <div class="col-12">
        <div class="flex justify-content-end">
            <button type="button" (click)="grabarCliente()" pButton icon="pi pi-save" label="Grabar cambios" ></button>
            <button type="button" (click)="cerrar()" pButton icon="pi pi-times" label="Cerrar" class="p-button-secondary ml-3"></button>
        </div>
    </div>
</div>