<div class="grid">
	<div class="col-12">
		<div class="card">
            <div class="p-fluid p-formgrid grid">

                <app-dynamic-table [dataTable]="historialTurno.data" 
                             [headersTable]="historialTurno.header"
                             dataKey="index" 
                             [rows]="10" 
                             [paginator]="true"
                             [selectionMode]="'multiple'"
                             [viewCheckselectedItem] ="true"
                             [loading]="loadingCargue"
                             nameExport="estados_turno"
                             [showBtnNew]="false"
                             class="w-full">
                </app-dynamic-table>


            </div>
        </div>
    </div>
</div>


<div class="card">
    <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <p-avatar [icon]="event.icon" styleClass="mr-2 custom-marker shadow-2" [style]="{'background-color': 'var(--'+event.backgroundColor+')', 'color': 'var(--'+event.textColor+')'}" shape="circle"></p-avatar>
            <!--<span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>-->
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" [subheader]="event.date" >
                
                <div *ngIf="event.novedades.length>0">
                    <div class="font-medium text-700 line-height-1"> <span class="font-bold">Novedades</span></div>
                    <ul class="list-none">
                        <li *ngFor="let novedad of event.novedades" class="list-none">
                            {{ novedad }}
                        </li>
                    </ul>
                </div>

                <div *ngIf="event.disponibilidad">
                    <div class="font-medium text-700 line-height-1"> <span class="font-bold">¿Inventario disponible?</span></div>
                    <div>{{ event.disponibilidad }}</div>
                    <div *ngIf="event.disponibilidad==='si'">
                        <div class="font-medium text-700 line-height-1"> <span class="font-bold">Fecha</span></div>
                        <div>{{ event.fechadisponibilidad | date }}</div>
                    </div>
                </div>

                <div *ngIf="event.tipo_solicitud">
                    <div class="font-medium text-700 line-height-1"> <span class="font-bold">Tipo solicitud</span></div>
                    <div>{{ event.tipo_solicitud }}</div>
                    
                </div>


                <div *ngIf="event.comentario" class="font-medium text-700 line-height-1"> <span class="font-bold">Comentario</span></div>
                <p *ngIf="event.comentario">
                    {{ event.comentario}}
                </p>
                <span class="mt-5"> <span class="font-bold">Realizado por:</span> {{event.usuario}}</span>
                
            </p-card>
        </ng-template>
    </p-timeline>
</div>