<app-breadcrumb></app-breadcrumb>
<div class="grid">
	<div class="col-12">
		<div class="card">
            <app-dynamic-table  [dataTable]="dataTable" 
                                [headersTable]="headersTable"
                                dataKey="id" 
                                [rows]="10" 
                                [paginator]="true"
                                [selectionMode]="'multiple'"
                                [showBtnNew]="showBtnNew"
                                [showBtnEdit]="showBtnEdit"
                                [showBtnExp]="showBtnExp"
                                [showBtnDelete]="showBtnDelete"
                                nameExport="menu"
                                
                                (onNewAccion)="nuevoUsuario($event)"
                                (onEditAccion)="editUsuario($event)"
                                (onDeleteAccion)="deleteUsuario($event)">
            </app-dynamic-table>
        </div>
    </div>
</div>    